
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: block;
  width: 100vw;
  width: 100dvw;
}

.input-group {
  display: flex;
  gap: 20px;
  padding: 5px;
  align-items:center;
}

#uploadArea {
  position: absolute;

  min-height: 100vh;
  width: 100%;
  min-height: 100dvh;
}

#dropArea {
  display: none;

  position: absolute;
  min-height: 100vh;
  width: 100%;
  min-height: 100dvh;

  color: white;
  background-color: white;
  transition: background-color 0.2s;
}

#dropArea.dragOver {
  display: flex;
  background-color: rgba(0,0,0,0.9);

}

#dropArea {
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 10px;
}

.block {
  width: 160px;
  font-size: 15px;
  padding: 7px 2px;
  border: 1px solid #1e1e1e;
  text-align: center;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.btn {
  transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
  background-color: #4e4e4e;
  color: white;
}

input[type="color"] {
  background: none;
  outline: none;
  padding: 0;
  border: 0;
}

input[type="checkbox"], input[type="color"] {
  width: 50px;
}

input[type="checkbox"] {
  height: 20px;

}

input[type="range"], select {
  width: 150px
}