* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: block;
  width: 100vw;
  width: 100dvw;
}

.input-group {
  display: flex;
  gap: 20px;
  padding: 5px;
  align-items: center;
}

#uploadArea {
  position: absolute;

  min-height: 100vh;
  width: 100%;
  min-height: 100dvh;
}

#dropArea {
  display: none;

  position: absolute;
  min-height: 100vh;
  width: 100%;
  min-height: 100dvh;

  color: white;
  background-color: white;
  transition: background-color 0.2s;
}

#dropArea.dragOver {
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
}

#dropArea {
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 10px;
}

.block {
  width: 160px;
  font-size: 15px;
  padding: 7px 2px;
  border: 1px solid #1e1e1e;
  text-align: center;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.btn {
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
}

input[type="color"] {
  background: none;
  outline: none;
  padding: 0;
  border: 0;
  cursor: pointer;
}

input[type="checkbox"],
input[type="color"] {
  width: 50px;
}

input[type="checkbox"] {
  height: 20px;
  cursor: pointer;
  background-color: #1cbdf0;
}


input[type="range"],
select {
  width: 150px;
  cursor: pointer;
}
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #1cbdf0;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: #0974f1;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(1.6em);
}
